<hr>

<div>
  <h2>Founders</h2>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      
         <ul>
          <li><strong>Freeda K. Brest*</strong></li>
          <li><strong>Edward S. Brown</strong></li>
          <li><strong>Jack and Vickie Farber</strong></li>
          <li><strong>Richard J. Fox</strong></li>
          <li><strong>Robert A. Fox</strong></li>
          <li><strong>Leonard and Sally Grossman</strong></li>
          <li><strong>Stanley and Carolyn Kraftsow</strong></li>
          <li><strong>Philip B. Lindy* and Annabel F. Lindy*</strong></li>
          <li><strong>M. Mark Mendel*</strong></li>
          <li><strong>I. Jerome Stern*</strong></li>
          * Deceased<br>
        </ul>
      </div>
