<div>
  <h2>Advisory Board</h2>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">

      <ul>
        <li><strong>Edward S. Brown, Chair</strong></li>
        <li><strong>Rabbi Howard Alpert</strong></li>
        <li><strong>Ivy Barsky</strong></li>
        <li><strong>Michael Belman</strong></li>
        <li><strong>Stephen V. Dubin</strong></li>
        <li><strong>David Farber</strong></li>
        <li><strong>Jack Farber</strong></li>
        <li><strong>Henry Feingold</strong></li>
        <li><strong>Richard J. Fox</strong></li>
        <li><strong>Robert A. Fox</strong></li>
        <li><strong>Marcia Friedman</strong></li>
        <li><strong>Rela Mintz Geffen*</strong></li>
        <li><strong>Leonard S. Grossman</strong></li>
        <li><strong>Jeffrey S. Gurock</strong></li>
        <li><strong>David L. Hyman</strong></li>
        <li><strong>Richard H. Immerman</strong></li>
        <li><strong>Susan O. W. Jaffe</strong></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6">
   
        <ul>
          <li><strong>Samuel Z. Klausner</strong></li>
          <li><strong>Laura S. Levitt</strong></li>
          <li><strong>Philip B. Lindy*</strong></li>
          <li><strong>Randall Miller</strong></li>
          <li><strong>Pamela S. Nadell</strong></li>
          <li><strong>Edward H. Rosen*</strong></li>
          <li><strong>Jonathan D. Sarna</strong></li>
          <li><strong>Robert M. Segal</strong></li>
          <li><strong>Edward S. Shapiro</strong></li>
          <li><strong>Bryant Simon</strong></li>
          <li><strong>Connie Smuckler and Joseph Smuckler*</strong></li>
          <li><strong>Morris J. Vogel</strong></li>
          <li><strong>Jack Wertheimer</strong></li>
         </ul>
       </div>
    </div>
        
  <div>     
   <h3>Founders</h3>
   </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
          
         <ul>
          <li><strong>Freeda K. Brest*</strong></li>
          <li><strong>Edward S. Brown</strong></li>
          <li><strong>Jack and Vickie Farber</strong></li>
          <li><strong>Richard J. Fox</strong></li>
          <li><strong>Robert A. Fox</strong></li>
          <li><strong>Leonard and Sally Grossman</strong></li>
          <li><strong>Stanley and Carolyn Kraftsow</strong></li>
          <li><strong>Philip B. Lindy* and Annabel F. Lindy*</strong></li>
          <li><strong>M. Mark Mendel*</strong></li>
          <li><strong>I. Jerome Stern*</strong></li>
          * Deceased<br>
           - See our list of <strong>Advisory Board Committee Members</strong> and their bios. 
        </ul>
      </div>
