<div>
  <h2>Advisory Board</h2>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">

      <ul>
        <li><a href="" title="Edward S. Brown, Chair">Edward S. Brown, Chair</a></li>
        <li><a href="" title="Rabbi Howard Alpert">Rabbi Howard Alpert</a></li>
        <li><a href="" title="Ivy Barsky">Ivy Barsky</a></li>
        <li><a href="" title="Michael Belman">Michael Belman</a></li>
        <li><a href="" title="Stephen V. Dubin">Stephen V. Dubin</a></li>
        <li><a href="" title="David Farber">David Farber</a></li>
        <li><a href="" title="Jack Farber">Jack Farber</a></li>
        <li><a href="" title="Henry Feingold">Henry Feingold</a></li>
        <li><a href="" title="Richard J. Fox">Richard J. Fox</a></li>
        <li><a href="" title="Robert A. Fox">Robert A. Fox</a></li>
        <li><a href="" title="Marcia Friedman">Marcia Friedman</a></li>
        <li><a href="" title="Rela Mintz Geffen*">Rela Mintz Geffen*</a></li>
        <li><a href="" title="Leonard S. Grossman">Leonard S. Grossman</a></li>
        <li><a href="" title="Jeffrey S. Gurock">Jeffrey S. Gurock</a></li>
        <li><a href="" title="David L. Hyman">David L. Hyman</a></li>
        <li><a href="" title="Richard H. Immerman">Richard H. Immerman</a></li>
        <li><a href="" title="Susan O. W. Jaffe">Susan O. W. Jaffe</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6">
   
        <ul>
          <li><a href="" title="Samuel Z. Klausner">Samuel Z. Klausner</a></li>
          <li><a href="" title="Laura S. Levitt">Laura S. Levitt</a></li>
          <li><a href="" title="Philip B. Lindy*">Philip B. Lindy*</a></li>
          <li><a href="" title="Randall Miller">Randall Miller</a></li>
          <li><a href="" title="Pamela S. Nadell">Pamela S. Nadell</a></li>
          <li><a href="" title="Edward H. Rosen*">Edward H. Rosen*</a></li>
          <li><a href="" title="Jonathan D. Sarna">Jonathan D. Sarna</a></li>
          <li><a href="" title="Robert M. Segal">Robert M. Segal</a></li>
          <li><a href="" title="Edward S. Shapiro">Edward S. Shapiro</a></li>
          <li><a href="" title="Bryant Simon">Bryant Simon</a></li>
          <li><a href="" title="Connie Smuckler and Joseph Smuckler*">Connie Smuckler and Joseph Smuckler*</a></li>
          <li><a href="" title="Morris J. Vogel">Morris J. Vogel</a></li>
          <li><a href="" title="Jack Wertheimer">Jack Wertheimer</a></li>
          <h2>Founders</h2>
          <li><a href="" title="Freeda K. Brest*">Freeda K. Brest*</a></li>
          <li><a href="" title="Edward S. Brown">Edward S. Brown</a></li>
          <li><a href="" title="Jack and Vickie Farber">Jack and Vickie Farber</a></li>
          <li><a href="" title="Richard J. Fox">Richard J. Fox</a></li>
          <li><a href="" title="Robert A. Fox">Robert A. Fox</a></li>
          <li><a href="" title="Leonard and Sally Grossman">Leonard and Sally Grossman</a></li>
          <li><a href="" title="Stanley and Carolyn Kraftsow">Stanley and Carolyn Kraftsow</a></li>
          <li><a href="" title="Philip B. Lindy* and Annabel F. Lindy*">Philip B. Lindy* and Annabel F. Lindy*</a></li>
          <li><a href="" title="M. Mark Mendel*">M. Mark Mendel*</a></li>
          <li><a href="" title="I. Jerome Stern*">I. Jerome Stern*</a></li>
        </ul>
      </div>
    </div>
  </div>
